.wrapper {
  box-sizing: border-box;
  max-width: 100vw;
  display: flex;
  align-items: center;
  height: 48px;
  right: 0;
  left:0;
  background-color: white;
  position: sticky;
  z-index: 2000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
  @media (--nav) {
    position: relative;
    height:80px;
    box-shadow: none;
    top:0;
  }
  &.margin {
    top: 48px;
    @media (--nav) {
      top:0;
    }
  }
}

.logo-link {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 48px;
  max-width: 200px;
  min-width: 200px;
  padding: 0 16px;
  color: var(--color-dark-purple);
  font-size: var(--fs-text-xl);
  font-weight: 700;
  line-height: var(--m-10);
  transition: background var(--t-interaction);
@media (--nav) {
  padding: 0 8px;
  min-width: 125px;
  height:80px;
}
@media (--lg-scr) {
  padding: 0 32px;
  min-width: 200px;
}
  &:focus, &:hover, &:active {
    background-color: rgba(240,242,244,0.56);
  }
}

.hamburger {
  position: absolute;
  right: 0;
  top: 0;
 height:100%;
 position: absolute;
 right:16px;
  color: var(--color-dark-purple);
  cursor: pointer;
  outline: none;

  @media (--nav) {
    display: none;
  }
}

.content {
  display: none;
  width:auto;
  max-width: none;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 2000;
  top: 96px;
  right:0;
  bottom:0;
  left:0;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  background-color: white;
  @media (--nav) {
    width: 100%;
    max-width: 100%;
    flex-direction: row;
    position: initial;
    z-index: 1;
    top: 48px;
    display: flex;
    overflow: visible;
    overflow-x: visible;
    background-color: transparent;
  }
  @media (--lg-scr) {
    top:0;
  }
     &.visible {
       display: flex;
     }
}

.mobileCTA {
  display:flex;
  margin-top: 24px;
  margin-right: 0;
  flex-shrink: 0;
  font-size: 14px;
  height:34px;
  width:105px;
  border-radius: 6px;
  position: absolute;
  right:70px;
  bottom:7px;
  box-shadow: "0px 3px 1px -2px rgba(81, 47, 201, 0.20), 0px 2px 2px 0px rgba(81, 47, 201, 0.14), 0px 1px 5px 0px rgba(81, 47, 201, 0.12)";
  @media (--nav) {
    display:none;
    margin-top: 0;
    margin-right: 24px;
  }
}