.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
  @media (--sm-scr) {
    flex-direction: column;
    margin-top: var(--m-3);
    padding-left: var(--m-4);
    padding-right: var(--m-4);
  }

  @media (--md-scr) {
    flex-direction: row;
    margin-left: auto;
  }
}

.cta {
  flex-shrink: 0;
  font-size: var(--fs-text-md);
  height: 48px !important;
  width: 135px;
  @media (--sm-scr) {
    width: 100%;
    margin-top: var(--m-2);
    padding-left: var(--m-4);
    padding-right: var(--m-4);
  }

  @media (--md-scr) {
    margin-right: var(--m-2);
  }
}
.searchBox {
  display:none;
  margin-right: 12px;
  @media (--md-scr) {
    display:initial;
  }
}