.wrapper {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-basis: auto;
  height: 80px;
  right: 0;
  position: relative;
  z-index: 2000;
  width: 100%;
  max-width: 100vw;
  @media (--sm-scr) {
    position: sticky;
    top:0;
    height: 48px;
    background: var(--color-white);
    box-shadow: 0 1px 4px rgba(0 0 0 / 24%);
  }
  &.margin {
    @media (--sm-scr) {
      top:48px;
    }
  }
}

.logo-link {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 125px;
  min-width: 125px;
  height: 24;
  padding: 0 var(--m-1);
  color: var(--color-dark-purple);
  font-size: var(--fs-text-xl);
  font-weight: 700;
  line-height: var(--m-10);
  text-decoration: none;
  transition: background var(--t-interaction);
  @media (--lg-scr) {
    padding: 0 var(--m-4);
    width: 200px;
  }
  @media (--sm-scr) {
    width: 150px;
    min-width: 150px;
    height: var(--m-6);
    padding: 0 var(--m-2);
    line-height: var(--m-6);
  }
}

.hamburger {
  position: absolute;
  right: 0;
  top: 0;
  height: var(--m-6);
  padding: var(--m-1-5) var(--m-2);
  color: var(--color-dark-purple);
  cursor: pointer;
  outline: none;

  @media (--md-scr) {
    display: none;
  }
}

.searchLink {
  position: absolute;
    & svg {
        width: 26px;
        height: 26px;
      }
    
      &:hover {
        color: #651FFF;
      }
}
.navSearchMobile {
  display:flex;
  position: absolute;
  right:60px;
  height:26px;

  @media (--md-scr) {
    display: none;
  }
}
.magnifier {
  display:none;
  @media (--md-scr) {
      display:block;
  }
}
.magnifierMobile {
  @media (--md-scr) {
    display: none;
  }
}
.content {
  display: flex;
  width: 100%;
  flex-shrink: 1;
  box-sizing: border-box;
  position: initial;
  overflow: visible;
  background-color: transparent;
  padding: 0px;
  z-index: 1;
  min-width: 0;
  @media (--sm-scr) {
    position: fixed;
    z-index: 2000;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    display: none;
    overflow: auto;
    width: auto;
    background-color: #f3f5f6;

    &.visible {
      display: flex;
    }
  }
}
