.wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: auto;
  @media (--sm-scr) {
    flex-direction: column;
    margin-top: var(--m-4);
    width: 100%;
    margin-left: 0;
  }

  @media (--md-scr) {
    flex-direction: row;
    margin-left: auto;
  }
}

.cta {
  flex-shrink: 0;

  @media (--sm-scr) {
    font-size: var(--fs-text-lg);
    height: 56px !important;
    width: 100%;
    margin-top: var(--m-1);
  }

  @media (--md-scr) {
    margin-right: var(--m-2);
  }
}

.group {
  position: relative;

  @media (--sm-scr) {
    width: 100%;
  }
}

.dropdown {
  display: none;
  z-index: 3000;

  @media (--sm-scr) {
    position: relative;
    width: 100%;
  }

  @media (--md-scr) {
    position: absolute;
    top: var(--m-4);
    right: var(--m-2);
    min-width: 400px;
  }

  &.visible {
    display: block;
  }
}
