.wrapper {
  margin-bottom: var(--m-2);
  background-color: var(--color-white);
  border-radius: var(--r-default);
  box-shadow: 0 1px 4px rgba(0 0 0 / 24%);

  &:last-child {
    margin-bottom: 0;
  }
}

.drop-wrapper {
  display: inline-flex;
  align-items: baseline;

  @media (--sm-scr) {
    padding: var(--m-1);
  }

  @media (--md-scr) {
    padding: var(--m-2);
  }
}

.drop-title {
  margin: 0;
  font-size: var(--fs-text-md);
  font-weight: var(--fw-bold);
}

.dropdown {
  width: 150px;
  margin-left: var(--m-2);
  color: var(--color-text);

  & span {
    border-color: var(--color-light-gray);
  }
}
