.wrapper {
  margin-bottom: var(--m-2);
  border-radius: var(--r-default);
  background-color: var(--color-white);
  box-shadow: 0 1px 4px rgba(0 0 0 / 24%);

  &:last-child {
    margin-bottom: 0;
  }
}

.header {
  display: flex;
  overflow-x: auto;
  height: auto;
  border-top-left-radius: var(--r-default);
  border-top-right-radius: var(--r-default);
  background-color: var(--color-lightest-gray);
}

.item {
  overflow-x: auto;

  @media (--sm-scr) {
    padding: var(--m-1);
  }

  @media (--md-scr) {
    padding: var(--m-2);
  }
}

.hidden {
  display: none;
}

.label {
  flex-shrink: 0;
  margin: 0;
  font-size: var(--fs-text-md);
  font-weight: var(--fw-bold);
  line-height: var(--lh-md);
  white-space: nowrap;
  border-top-left-radius: var(--r-default);
  border-top-right-radius: var(--r-default);

  @media (--sm-scr) {
    padding: var(--m-1) var(--m-2);
  }

  @media (--md-scr) {
    padding: var(--m-1) var(--m-4);
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--color-darkest);
    outline: none;
  }

  &.default {
    color: var(--color-gray);
    cursor: pointer;
  }

  &.selected {
    pointer-events: none;
    background-color: var(--color-white);
    color: var(--color-dark-purple);
  }
}
