.wrapper {
  margin-bottom: var(--m-2);
  background-color: var(--color-white);
  border-radius: var(--r-default);
  box-shadow: 0 1px 4px rgba(0 0 0 / 24%);

  &:last-child {
    margin-bottom: 0;
  }
}

.drop-wrapper {
  display: inline-flex;
  align-items: baseline;

  @media (--sm-scr) {
    padding: var(--m-1);
  }

  @media (--md-scr) {
    padding: var(--m-2);
  }
}

.drop-title {
  margin: 0;
  font-size: var(--fs-text-md);
  font-weight: var(--fw-bold);
}

.dropdown {
  width: 150px;
  margin-left: var(--m-2);
  color: var(--color-text);

  & span {
    border-color: var(--color-light-gray);
  }
}

.header {
  display: flex;
  height: auto;
  background-color: var(--color-lightest-gray);
  overflow-x: auto;
  border-top-left-radius: var(--r-default);
  border-top-right-radius: var(--r-default);
}

.header-shadow {
  box-shadow: 0 -1px 2px rgb(0 0 0 / 12%);
}

.item {
  overflow-x: auto;

  @media (--sm-scr) {
    padding: var(--m-1);
  }

  @media (--md-scr) {
    padding: var(--m-2);
  }
}

.hidden {
  display: none;
}

.label {
  flex-shrink: 0;
  margin: 0;
  font-size: var(--fs-text-md);
  line-height: var(--lh-md);
  font-weight: var(--fw-bold);
  white-space: nowrap;
  border-top-left-radius: var(--r-default);
  border-top-right-radius: var(--r-default);

  @media (--sm-scr) {
    padding: var(--m-1) var(--m-2);
  }

  @media (--md-scr) {
    padding: var(--m-1) var(--m-4);
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--color-darkest);
    outline: none;
  }

  &.default {
    color: var(--color-gray);
    cursor: pointer;
  }

  &.selected {
    color: var(--color-dark-purple);
    background-color: var(--color-white);
    pointer-events: none;
  }
}
