.wrapper {
  --header-text-color: var(--color-white);

  border: 1px solid var(--main-color);
  border-radius: var(--r-default);
  margin-bottom: var(--m-2);
  box-shadow: 0 1px 4px rgb(0 0 0 / 24%);

  &:last-child {
    margin-bottom: 0;
  }

  &.warning {
    --main-color: var(--color-warning);
    --header-text-color: var(--color-black);
  }

  &.tip {
    --main-color: var(--color-tip);
  }

  &.note {
    --main-color: var(--color-note);
  }

  &.danger {
    --main-color: var(--color-danger);
  }

  &.hidden {
    display: none;
  }
}

.header {
  color: var(--header-text-color);
  background-color: var(--main-color);
  height: var(--m-3);
  font-size: var(--fs-text-sm);
  line-height: var(--lh-md);
  padding: 0 var(--m-1);
  text-transform: uppercase;

  @media (--md-scr) {
    padding: 0 var(--m-2);
  }
}

.body {
  padding: var(--m-1);
  font-size: var(--fs-text-md);

  @media (--md-scr) {
    padding: var(--m-1) var(--m-2);
    font-size: var(--fs-text-lg);
  }
}
