[submodule "content/11.x"]
	path = content/11.x
	url = https://github.com/gravitational/teleport
	branch = branch/v11
[submodule "content/12.x"]
	path = content/12.x
	url = https://github.com/gravitational/teleport
	branch = branch/v12
[submodule "content/13.x"]
	path = content/13.x
	url = https://github.com/gravitational/teleport
        branch = branch/v13
[submodule "content/14.x"]
	path = content/14.x
	url = https://github.com/gravitational/teleport
	branch = master