.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 var(--m-2);

  &:last-child {
    margin-bottom: 0;
  }

  &.left {
    align-items: flex-start;
  }

  &.right {
    align-items: flex-end;
  }
}

.image {
  max-width: 100%;
  height: auto;
}

.border {
  box-shadow: 0 1px 4px rgba(0 0 0 / 24%);
}

.caption {
  margin-top: var(--m-1);
  color: var(--color-gray);
  font-style: italic;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100%;
  min-width: 100%;
  top: 50%;
  left: 50%;
  z-index: 3002;
  transform: translate(-50%, -50%);
  position: fixed;
  cursor: zoom-out;
}

.zoomable {
  /* 
   * The background-color and border styles override browser defaults for the
   * button element.
   */
  background-color: inherit;
  border: inherit;

  cursor: zoom-in;
  cursor: -moz-zoom-in; 
  cursor: -webkit-zoom-in;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  cursor: zoom-out;
  cursor: -moz-zoom-out; 
  cursor: -webkit-zoom-out;
  z-index: 3002;
  & .image {
    max-width: 95vw;
    max-height: 95vh;
  }
}
