.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 var(--m-2);

  &:last-child {
    margin-bottom: 0;
  }

  &.left {
    align-items: flex-start;
  }

  &.right {
    align-items: flex-end;
  }
}

.image {
  max-width: 100%;
  height: auto;
}

.border {
  box-shadow: 0 1px 4px rgba(0 0 0 / 24%);
}

.caption {
  margin-top: var(--m-1);
  color: var(--color-gray);
  font-style: italic;
}
