@keyframes button-appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.wrapper {
  position: relative;
  background-color: var(--color-code);
  border-radius: var(--r-default);
  margin-top: calc(9 - var(--m-0-5));
  margin-bottom: var(--m-3);
  box-shadow: 0 1px 4px rgba(0 0 0 / 24%);

  &:hover > button {
    display: flex;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.button {
  display: none;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: var(--m-1);
  color: var(--color-lighter-gray);
  cursor: pointer;
  border-top-right-radius: var(--r-default);
  border-bottom-right-radius: var(--r-default);
  opacity: 0;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  transition: color var(--r-interaction);
  animation-name: button-appearance;

  &:hover,
  &:focus,
  &:active {
    color: var(--color-white);
    outline: none;
  }
}

.copied {
  margin-left: var(--m-1);
}

.code {
  border-radius: var(--r-default);
  white-space: break-spaces;
}
