.code {
  padding: 0 var(--m-0-5);
  font-size: var(--fs-text-md);
  background-color: var(--color-lightest-gray);
  border: 1px solid var(--color-light-gray);
  border-radius: var(--r-sm);
  word-break: break-word;

  & :global {
    & .wrapper-input input {
      height: 16px;
      font-size: var(--fs-text-md);
      color: var(--color-red);
      background-color: transparent;
      border: none;
    }

    & .wrapper-input input::placeholder {
      color: var(--color-gray);
    }

    & .wrapper-input svg {
      color: var(--color-red);
    }
  }
}
