.wrapper {
  flex-shrink: 0;
  position: relative;
}

.menu {
  box-sizing: border-box;
  width: 240px;
  padding: var(--m-3);
  position: sticky;
  top: 120px;
  max-height: 100vh;
  overflow: auto;
}

.header {
  font-size: var(--fs-text-sm);
  line-height: var(--lh-md);
  max-height: 100%;
  overflow-y: auto;
  margin: 0 var(--m-0-5) var(--m-0-5);
  padding: var(--m-0-5) 0;
  font-weight: var(--fw-bold);
  color: var(--color-darkest);
  border-bottom: 1px solid var(--color-lightest-gray);
}

.ul {
  list-style-type: none;
  padding-left: 0;
}

.ul > ul {
  list-style-type: none;
  padding-left: 10px;
}

.link {
  display: block;
  font-size: var(--fs-text-sm);
  line-height: var(--lh-sm);
  color: var(--color-dark-gray);
  padding: var(--m-0-5);
  text-decoration: none;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:focus,
  &:hover,
  &:active {
    background-color: var(--color-lightest-gray);
    border-radius: var(--r-default);
  }
}
