.tile {
  flex: 0 0 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  @media (--sm-scr) {
    padding-bottom: var(--m-2);
  }

  @media (--md-scr) {
    max-width: calc((100% - (var(--gap) * 2)) / 3);
    padding-bottom: var(--gap);
  }
}

.wrapper {
  --gap: var(--m-4);

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  & .tile {
    @media (--md-scr) {
      margin-left: var(--gap);

      &:nth-child(3n + 1) {
        margin-left: 0;
      }
    }
  }
}
