.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--r-default);
  background-color: var(--color-white);
  box-shadow: 0 1px 4px rgba(0 0 0 / 24%);
}

.image-wrapper {
  transition: opacity var(--t-interaction);

  &:hover,
  &:active,
  &:focus {
    opacity: 0.9;
  }
}

.image {
  width: 100%;
  border-top-left-radius: var(--r-default);
  border-top-right-radius: var(--r-default);
}

.body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--m-2) var(--m-3) var(--m-3);
}

.title {
  margin-bottom: var(--m-1);
  font-size: var(--fs-text-xl);
  font-weight: var(--fw-regular);
  line-height: var(--lh-md);
}

.title-link {
  color: var(--color-dark-purple);
  text-decoration: none;
  transition: color var(--t-interaction);

  &:hover,
  &:active,
  &:focus {
    color: var(--color-light-purple);
  }
}

.description {
  flex-grow: 1;
  font-size: var(--fs-text-md);
  color: var(--color-darkest);
  line-height: var(--lh-md);
}

.button {
  margin-top: var(--m-2);
  padding: 0 var(--m-3);
  border-radius: var(--r-default);
  border: 1px solid var(--color-light-gray);
  color: var(--color-gray);
  font-size: var(--fs-text-sm);
  line-height: var(--lh-md);
  text-transform: uppercase;
  text-decoration: none;
  transition: border-color var(--t-interaction), color var(--t-interaction);

  &:hover,
  &:active,
  &:focus {
    color: var(--color-dark-purple);
    border-color: var(--color-dark-purple);
  }
}
