.item {
  position: relative;
  padding-left: var(--m-4);
  color: var(--color-gray);
  list-style: none;

  & + & {
    margin-top: var(--m-1);
  }

  &::before {
    content: "•";
    position: absolute;
    left: 0;
    display: inline-block;
    width: 24px;
    text-align: center;
  }
}

.item-link {
  font-size: var(--fs-text-md);
  line-height: var(--lh-md);
  color: inherit;
  text-decoration: none;
  transition: color var(--t-interaction);

  &:hover,
  &:active,
  &:focus {
    color: var(--color-dark-purple);
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--r-default);
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-lightest-gray);
}

.header {
  display: flex;
  margin: 0 var(--m-2);
  padding: var(--m-2) 0;
  border-bottom: 1px solid var(--color-light-gray);
  color: var(--color-dark-gray);
}

.icon {
  flex-shrink: 0;
  margin-right: var(--m-1);
}

.title {
  overflow: hidden;
  flex-grow: 1;
  font-size: var(--fs-text-xl);
  line-height: var(--lh-md);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button {
  width: 88px;
  margin-left: var(--m-1);
  border-radius: var(--r-default);
  border: 1px solid var(--color-light-gray);
  font-size: var(--fs-text-xs);
  line-height: var(--lh-md);
  color: var(--color-gray);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  flex-shrink: 0;
  transition: border-color var(--t-interaction), color var(--t-interaction);

  &:hover,
  &:active,
  &:focus {
    color: var(--color-dark-purple);
    border-color: var(--color-dark-purple);
  }
}

.body {
  padding: var(--m-2);
}
