.header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: var(--m-1) 0;
  border-top-left-radius: var(--r-default);
  border-top-right-radius: var(--r-default);
  text-align: left;
  font-size: var(--fs-text-md);
  font-weight: var(--fw-bold);
  line-height: var(--lh-sm);
  color: var(--color-darkest);
  cursor: pointer;
  transition: background-color var(--t-interaction);

  &:hover,
  &:active,
  &:focus {
    color: var(--color-light-purple);
    outline: none;
  }
}

.icon {
  flex-shrink: 0;
  margin: 0 var(--m-1);
  transition: transform var(--t-fast);
  transform: rotate(0deg);

  @media (--sm-scr) {
    width: 24px;
    height: 24px;
  }

  @media (--md-scr) {
    width: 16px;
    height: 16px;
  }
}

.description {
  display: flex;

  @media (--sm-scr) {
    flex-direction: column;
  }

  @media (--md-scr) {
    flex-direction: row;
  }
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.meta {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: var(--m-1);

  @media (--sm-scr) {
    margin-top: var(--m-0-5);
  }

  @media (--md-scr) {
    margin-left: var(--m-1);
  }
}

.scopes {
  display: flex;
}

.scope {
  margin-right: var(--m-1);
  padding: 0 var(--m-1);
  border-radius: var(--r-sm);
  font-size: var(--fs-text-xs);
  line-height: 20px;
  color: var(--color-gray);
  text-transform: uppercase;
  background-color: var(--color-lightest-gray);

  .wrapper.opened & {
    color: var(--color-white);
    background-color: var(--color-dark-purple);
  }
}

.min {
  font-weight: regular;
  font-size: var(--fs-text-xs);
  line-height: 20px;
  color: var(--color-gray);
}

.body {
  display: none;
  overflow-x: auto;

  @media (--sm-scr) {
    padding: var(--m-1);
  }

  @media (--md-scr) {
    padding: var(--m-2);
  }
}

.wrapper {
  margin-bottom: var(--m-2);
  border-radius: var(--r-default);
  background-color: var(--color-white);

  &:last-child {
    margin-bottom: 0;
  }

  &.opened {
    box-shadow: 0 1px 4px rgba(0 0 0 / 24%);

    & .body {
      display: block;
    }

    & .icon {
      transform: rotate(180deg);
    }

    & .header {
      background-color: var(--color-lightest-gray);
    }
  }

  &.hidden {
    display: none;
  }
}
