.wrapper {
  appearance: none;
  box-sizing: border-box;
  display: inline-block;
  min-width: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  line-height: inherit;
  background-color: transparent;
}
