rect.btn {
  stroke: #fff;
  fill: #fff;
  fill-opacity: 0;
  stroke-opacity: 0;
}

.svgContainer img {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.feedbackForm {
  z-index: 10;
  position: relative;
}

.svgContainer {
  display: flex;
  padding-left: 18px;
  justify-content: left;
  align-items: center;
  text-align: center;
}

.feedbackTitle {
  font-size: var(--fs-text-sm);
  line-height: var(--lh-md);
  max-height: 100%;
  overflow-y: auto;
  margin: 0 var(--m-0-5) var(--m-0-5);
  padding: var(--m-0-5) 0;
  font-weight: var(--fw-bold);
  color: var(--color-darkest);
}

.buttonSeparator {
  font-size: var(--fs-text-sm);
  line-height: var(--lh-md);
  max-height: 100%;
  overflow-y: auto;
  margin: 0 var(--m-0-5) var(--m-0-5);
  padding: var(--m-0-5) 0;
  font-weight: var(--fw-bold);
  color: var(--color-darkest);
  text-align: center;
}

.buttonContainer {
  display: block;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
}
