.wrapper {
  display: flex;
  align-items: stretch;
  flex-direction: row;

  @media (--sm-scr) {
    flex-direction: column;
  }
}

.navigation {
  flex-shrink: 0;
}

.body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 0;
}

.notice {
  margin-bottom: var(--m-3);
}

.video {
  margin-bottom: var(--m-0-5);
  box-shadow: 0 1px 4px rgba(0 0 0 / 24%);
  transition: box-shadow var(--t-interaction);
}

.anchor-navigation {
  display: none;

  @media (--lg-scr) {
    display: block;
  }
}

.footer {
  margin-bottom: var(--m-2);
  padding: 0 var(--m-2);
  text-align: center;
  font-size: var(--fs-text-l);
  line-height: var(--lh-md);
  color: var(--color-gray);

  @media (--md-scr) {
    font-size: var(--fs-text-xl);
    line-height: var(--lh-xl);
  }
}

.main-wrapper {
  display: flex;
  background-color: var(--color-white);

  &.section {
    background-color: var(--color-page-bg);
  }
}

.main {
  min-width: 0;
  flex-grow: 1;
  padding: var(--m-2);

  @media (--md-scr) {
    padding: var(--m-3) var(--m-5);
  }
}

.text {
  max-width: 900px;
  color: var(--color-text);
  line-height: 26px;

  &.tocless-doc {
    max-width: 1164px;
  }

  &.section {
    max-width: auto;
  }
}
