.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: var(--m-5);
  background-color: var(--color-white);

  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("assets/landscape.svg");
  }

  @media (--sm-scr) {
    &::before {
      height: 50px;
    }
  }

  @media (--md-scr) {
    height: 400px;

    &::before {
      height: 280px;
    }
  }

  &.section {
    background-color: var(--color-page-bg);
  }
}
