.wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  min-height: 168px;
  background-color: var(--color-white);
  box-shadow: 0 1px 4px rgb(0 0 0 / 24%);
}

.github-link {
  position: absolute;
  top: 0;
  right: 0;
}

.icon {
  flex-shrink: 0;
  margin: var(--m-7) var(--m-2) 0 var(--m-7);
  /* color: var(--color-white); */
  color: var(--color-dark-purple);

  @media (--sm-scr) {
    display: none;
  }
}

.description {
  display: flex;
  flex-direction: column;
  padding-top: var(--m-4);
  flex-grow: 1;

  @media (--sm-scr) {
    margin-right: var(--m-2);
    margin-left: var(--m-2);
    padding-top: var(--m-2);
  }
}

.subtitle {
  margin: 0;
  font-size: var(--fs-text-sm);
  line-height: var(--lh-md);
  color: var(--color-dark-purple);

  @media (--sm-scr) {
    display: none;
  }
}

.title {
  margin-top: 0;
  font-weight: var(--fw-regular);
  /* color: var(--color-white); */
  color: var(--color-dark-purple);

  @media (--sm-scr) {
    margin-bottom: var(--m-6);
    padding-right: 120px;
    /* padding-left: var(--m-2); */
    font-size: var(--fs-header-2);
  }

  @media (--md-scr) {
    margin-bottom: auto;
    padding-right: var(--m-5);
    padding-left: 0;
    font-size: var(--fs-header-1);
  }
}

.scopeInfo {
  margin-top: var(--m-1-5);
  margin-bottom: 0;
  color: var(--color-dark-purple);
}

.dropdowns {
  display: flex;
  align-items: center;
  margin: var(--m-2);

  @media (--md-scr) {
    margin: var(--m-2) var(--m-6) var(--m-2) 0;
  }

  @media (--sm-scr) {
    margin: var(--m-2) 0;
  }
}

.scopes {
  margin-right: var(--m-1);

  @media (--md-scr) {
    margin-right: var(--m-2);
  }
}

.violet {
  color: var(--color-dark-purple);

  & span {
    border-color: var(--color-dark-purple);
  }
}

.button {
  margin-left: auto;
  padding: 0 var(--m-1) !important;
}
