.wrapper {
  position: relative;
  z-index: 1000;

  @media (--sm-scr) {
    height: 48px;
  }

  @media (--md-scr) {
    width: 240px;
    border-right: 1px solid var(--color-lightest-gray);

    &.section {
      border-right: none;

      @media (--md-scr) {
        box-shadow: 1px 0 4px rgba(0 0 0 / 12%);
      }
    }
  }
}

.searchbar {
  display: flex;
  align-items: center;
  height: 48px;
  background-color: var(--color-lighter-gray);
}

.menu {
  margin-right: var(--m-2);
  color: var(--color-gray);

  &:focus {
    outline: none;
  }

  @media (--md-scr) {
    display: none;
  }
}

.nav {
  width: 100%;
  background-color: var(--color-white);

  @media (--sm-scr) {
    position: absolute;
    top: 48px;
    display: none;
  }

  @media (--md-scr) {
    overflow: auto;
  }

  &.visible {
    display: block;
  }
}

.categories {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  padding: var(--m-0-5) var(--m-2);
  font-size: 13px;
  line-height: var(--lh-md);
  text-decoration: none;
  color: var(--color-gray);

  &:focus,
  &:hover,
  &:active {
    background-color: var(--color-white);
    outline: none;
  }

  & + ul {
    display: none;
  }

  &.selected {
    background-color: var(--color-white);
  }

  &.active {
    font-weight: var(--fw-bold);
    color: var(--color-dark-purple);
  }
}

.submenu {
  display: none;
  padding: 0;
  list-style: none;

  &.opened {
    display: block;
  }

  & .link{
    font-size: var(--fs-text-sm);
    line-height: var(--lh-md);
  }

  & .link-1 {
    padding-left: var(--m-4);
  }

  & .link-2 {
    padding-left: var(--m-5);
  }

  & .link-3 {
    padding-left: var(--m-6);
  }

  .link.active + & {
    display: block;
  }
}

.scope-list {
  display: flex;
  align-items: baseline;
  width: 38px;
  margin-left: auto;
  padding-left: var(--m-1);
  list-style: none;

  & + .ellipsis {
    margin-left: var(--m-0-5);
  }
}

.scope-item {
  margin-left: var(--m-0-5);

  &:first-child {
    margin-left: 0;
  }

  &.non-visible {
    visibility: hidden;
  }
}

.ellipsis {
  align-self: center;
  color: var(--color-light-gray);
}

.link.active .ellipsis {
  display: none;
}

.icon-arrow {
  position: absolute;
  top: 50%;
  right: var(--m-2);
  color: var(--color-light-gray);
  transform: translateY(-50%);
  transition: color var(--t-interaction), transform var(--t-interaction);
}

.icon-category {
  margin-right: var(--m-1);
  margin-left: 12px;
}

.category-header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  color: var(--color-gray);
  border-bottom: 1px solid var(--color-lightest-gray);
  border-left: 4px solid var(--color-white);
  transition: color var(--t-interaction);

  &:focus,
  &:hover,
  &:active {
    color: var(--color-light-purple);
    cursor: pointer;
    outline: none;

    & .icon-arrow {
      color: var(--color-light-purple);
    }
  }

  &.opened {
    color: var(--color-dark-purple);
    border-left-color: var(--color-light-purple);

    & .icon-arrow {
      color: var(--color-dark-purple);
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

.category-title {
  font-size: var(--fs-text-md);
  line-height: var(--lh-md);
}

.category-links {
  padding: var(--m-0-5) 0;
  background-color: var(--color-lightest-gray);
  list-style: none;
  box-shadow: inset 0 1px 2px rgba(0 0 0 / 24%);
}
