.list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: var(--m-4);
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;

  @media (--sm-scr) {
    margin-left: 0;
  }
}

.item {
  display: flex;
  align-items: center;

  & + .item {
    margin-left: var(--m-1);
  }
}

.label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 32px;
  padding: 0 var(--m-2);
  font-size: var(--fs-text-sm);
  font-weight: 600;
  border-radius: var(--r-default);
  transition: background-color var(--t-interaction),
    border-color var(--t-interaction);

  &.variant-availablefor {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  &.variant-gray {
    color: var(--color-gray);
    background-color: var(--color-white);
  }

  &.variant-green {
    color: var(--color-green);
    background-color: var(--color-white);
  }

  &.variant-blue {
    color: var(--color-light-blue);
    background-color: var(--color-white);
  }

  @media (--sm-scr) {
    font-size: var(--fs-text-md);
  }
}

.icon {
  width: 14px;
  height: 14px;
  margin-right: var(--m-0-5);
}

.wrapper {
  position: relative;
}
