.list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: var(--m-4);
  padding-left: 0;
  list-style: none;

  @media (--sm-scr) {
    margin-left: 0;
  }
}

.item {
  display: flex;
  align-items: center;

  & + .item {
    margin-left: var(--m-1);
  }
}
