.title {
  margin: 0;
  font-size: var(--fs-text-sm);
  color: var(--color-light-gray);
}

.title-extend {
  margin-bottom: var(--m-0-5);
}

.found-header {
  margin: 0;
  font-size: var(--fs-text-lg);
  color: var(--color-dark-purple);
}

.found-header + .found-content {
  margin-top: var(--m-1);
}

.found-content {
  margin: 0;
  font-size: var(--fs-text-md);
}

.text {
  margin-left: var(--m-1);
  color: var(--color-dark-purple);
}
