.wrapper {
  background: var(--color-white);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: stretch;
  height: 32px;
  border: 1px solid var(--color-light-gray);
  border-radius: var(--r-circle);

  &:focus-within {
    border-color: var(--color-dark-purple);
  }
}

.input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  line-height: 30px;
  color: var(--color-black);
  background: transparent;
  border: none;

  @media (--sm-scr) {
    padding: 0 var(--m-2);
    font-size: var(--fs-text-xl);
  }

  @media (--md-scr) {
    padding: 0 var(--m-2) 0 36px;
    font-size: var(--fs-text-md);
  }

  &:placeholder {
    color: var(--color-gray);
  }

  &:focus {
    outline: none;
  }
}

.icon {
  position: absolute;
  margin-left: 6px;
  color: var(--color-gray);

  @media (--sm-scr) {
    display: none;
  }
}
