.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  @media (--sm-scr) {
    flex-direction: column;
    padding-top: var(--m-6);
  }

  @media (--md-scr) {
    padding-top: var(--m-10);
  }
}

.body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  margin-bottom: var(--m-2);
  padding: 0 var(--m-2);
  font-size: var(--fs-text-l);
  line-height: var(--lh-md);
  text-align: center;
  color: var(--color-gray);

  @media (--md-scr) {
    font-size: var(--fs-text-xl);
    line-height: var(--lh-xl);
  }
}

.content {
  padding-left: var(--m-10);
  padding-right: var(--m-10);
}

.link {
  margin-bottom: var(--m-2);
}
