.icon {
  flex-shrink: 0;
  margin-right: var(--m-1);
}

.wrapper {
  display: flex;
  padding: var(--m-1);
  border-radius: var(--r-default);
  border: 1px solid;
  align-items: center;
  margin-bottom: var(--m-2);

  &:last-child {
    margin-bottom: 0;
  }

  &.warning {
    border-color: var(--color-warning);
    background-color: rgba(255 180 0 / 12%);

    & .icon {
      color: var(--color-warning);
    }
  }

  &.tip {
    border-color: var(--color-tip);
    background-color: rgba(0 199 174 / 6%);

    & .icon {
      color: var(--color-tip);
    }
  }

  &.note {
    border-color: var(--color-note);
    background-color: rgba(0 156 241 / 12%);

    & .icon {
      color: var(--color-note);
    }
  }

  &.danger {
    border-color: var(--color-danger);
    background-color: rgba(rgba(248 0 97 / 6%));

    & .icon {
      color: var(--color-danger);
    }
  }

  &.hidden {
    display: none;
  }
}

.body {
  font-size: var(--fs-text-lg);
  line-height: var(--lh-md);
}
