.wrapper {
  display: block;
  overflow: hidden;
  padding: var(--m-1) var(--m-2);
  border-radius: var(--r-sm);
  transition: background var(--t-interaction);
  line-height: var(--lh-md);
  text-align: left;
  text-decoration: none;

  @media (--sm-scr) {
    border: 1px solid var(--color-lightest-gray);
  }

  &:focus,
  &:hover {
    background-color: var(--color-lightest-gray);
  }

  & + & {
    margin-top: var(--m-1);
  }
}

.image-wrapper {
  float: left;
  border: 10px solid transparent;
}

.image {
  @media (--sm-scr) {
    margin-top: var(--m-1);
  }

  @media (--md-scr) {
    margin-right: var(--m-1);
  }
}

.icon {
  float: left;
  margin: var(--m-0-5) var(--m-1) 0 0;
  color: var(--color-dark-purple);
}

.title {
  display: block;
  font-size: var(--fs-text-lg);
  font-weight: var(--fw-bold);
  line-height: var(--lh-lg);
  color: var(--color-dark-purple);
}

.description {
  display: block;
  font-size: var(--fs-text-md);
  line-height: var(--lh-md);
  color: var(--color-darkest);
}
