.wrapper {
  display: block;
  overflow: hidden;
  padding: 0.5px var(--m-2);
  border-radius: var(--r-sm);
  line-height: var(--lh-md);
  text-align: left;
  text-decoration: none;
  color: var(--color-code);
  @media (--sm-scr) {
    border: 1px solid var(--color-lightest-gray);
  }

  &:focus,
  &:hover {
    color: var(--color-dark-purple);
  }
  & + & {
    margin-top: var(--m-1);
  }
}

.image-wrapper {
  float: left;
  border: 10px solid transparent;
}

.title {
  display: block;
  font-size: var(--fs-text-lg);
  font-weight: var(--fw-regular);
  line-height: var(--lh-lg);
}

.description {
  display: block;
  font-size: var(--fs-text-md);
  line-height: var(--lh-md);
  color: var(--color-darkest);
}
