.wrapper {
  display: block;
  overflow: hidden;
  padding-top: 0.5px;
  line-height: 21px;
  text-align: left;
  text-decoration: none;
  color: var(--color-code);
  @media (--sm-scr) {
    padding: var(--m-0-5) var(--m-2);
  }

  &:focus,
  &:hover {
    color: var(--color-dark-purple);
  }
}

.imageLink {
  border: 1px solid var(--color-lightest-gray);
  width: 280px;
  height: 139px;
  color: var(--color-code);
  &:focus,
  &:hover {
    color: var(--color-dark-purple);
  }
}

.title {
  display: block;
  font-size: var(--fs-text-md);
  font-weight: var(--fw-regular);
  line-height: var(--lh-md);
  padding-bottom: var(--m-2);
}

.asTitle {
  font-weight: var(--fw-bold);
}
