.wrapper {
  overflow: hidden;
  border-radius: var(--r-default);
  color: var(--color-black);
  background: var(--color-white);

  @media (--sm-scr) {
    width: 100%;
  }

  @media (--md-scr) {
    box-shadow: 0 4px 40px rgba(0 0 0 / 24%);
  }
}

.header {
  align-items: center;
  margin: 0 var(--m-4);
  border-bottom: 1px solid var(--color-lightest-gray);
  font-size: var(--fs-text-xl);
  line-height: 64px;

  @media (--sm-scr) {
    display: none;
  }
}

.body {
  @media (--sm-scr) {
    padding: var(--m-1) var(--m-2) var(--m-2);
  }

  @media (--md-scr) {
    padding: var(--m-1) var(--m-3) var(--m-1);
  }
}
