.wrapper {
  box-sizing: border-box;
  overflow: hidden;
  width: max-content;
  padding-left: var(--m-3);
  padding-right: var(--m-5);
  padding-top: var(--m-2);
  color: var(--color-black);
  background: var(--color-white);
  border-top: 1px solid #b3b3b3;
  max-width: 100%;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  @media (--sm-scr) {
    width: 100%;
    text-align: left;
    border-top: none;
    border-bottom: 1px solid var(--color-lighter-gray);
    padding: 0;
    box-shadow: none;
    padding-top: var(--m-4);
  }
}
.asRow {
  width: 100vw;
  padding-left: 0;
  padding-top: 0;
}

.menuTitle {
  @media (--sm-scr) {
    display: none;
  }
  @media (--md-scr) {
    display: block;
    align-items: left;
    margin: 0 var(--m-3);
    border-bottom: none;
    border-color: var(--color-lightest-gray);
    font-size: var(--fs-text-md);
    line-height: var(--lh-xxl);
  }
}

.body {
  box-sizing: border-box;
  display: block;
}

.withSubMenus {
  display: flex;
  @media (--sm-scr) {
    flex-direction: column;
  }
  @media (--md-scr) {
    padding-bottom: var(--m-6);
  }
}
