.subMenuWrapper {
  background: white;
  color: var(--color-code);
  overflow: hidden;
  max-width: 330px;
  padding-top: var(--m-3);
  @media (--sm-scr) {
    max-width: none;
    padding-top: var(--m-4);
  }
  @media (--md-scr) {
    padding-left: 20px;
    padding-right: 40px;
    min-width: 236px;
  }
  @media (--lg-scr) {
    padding-left: 40px;
    &:first-of-type {
      padding-left: 80px;
    }
    &:last-of-type {
      padding-right: 80px;
    }
  }
}

.moreItems {
  min-width: 0 !important;
  overflow: visible;
  @media (--md-scr) {
    padding-left: 20px;
    padding-right: 40px;
    max-width: 140px;
  }
  @media (--lg-scr) {
    width: 236px;
    max-width: 236px;
  }
}

.title {
  display: block;
  margin: 0;
  font-size: var(--fs-text-md);
  font-weight: var(--fw-bold);
  line-height: 21px;
  padding-bottom: var(--m-2);
  padding-top: var(--m-0-5);
  @media (--sm-scr) {
    padding-top: 0;
    padding-left: var(--m-4);
  }
}
