.input {
  display: inline-flex;
  width: 100%;
  color: var(--color-white);
  white-space: nowrap;

  &.purple {
    color: var(--color-dark-purple);
  }
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 var(--m-1);
  line-height: 30px;
  font-weight: var(--fw-bold);
  border: 1px solid var(--color-white);
  border-radius: var(--r-default);
  transition: background-color var(--t-interaction);
  cursor: pointer;

  @media (--sm-scr) {
    font-size: var(--fs-text-md);
  }

  @media (--md-scr) {
    font-size: var(--fs-text-sm);
  }

  &:active,
  &:focus,
  &:hover {
    background-color: rgba(255 255 255 / 12%);
    outline: none;
  }

  &[aria-disabled="true"] {
    pointer-events: none;
  }

  & [data-reach-listbox-arrow] {
    width: 16px;
    height: 16px;
    margin-left: var(--m-2);
    transform: rotate(0deg);
    transition: transform var(--t-interaction);
  }

  & [data-reach-listbox-arrow][data-expanded] {
    transform: rotate(180deg);
  }

  &.purple {
    background-color: #4d2fc61a;
    transition: border-color var(--t-interaction);
    border-color: transparent;

    &:active,
    &:focus,
    &:hover {
      border-color: var(--color-dark-purple);
      outline: none;
    }
  }
}

.popover {
  border: none;
  border-radius: var(--r-sm);
  box-shadow: 0 4px 16px rgba(0 0 0 / 24%) !important;
  z-index: 1000;

  &:focus-within {
    outline: none;
  }
}

.option {
  padding: 0 var(--m-1);
  line-height: 30px;
  font-weight: bold;
  transition: background var(--t-interaction);
  cursor: pointer;

  @media (--sm-scr) {
    font-size: var(--fs-text-md);
  }

  @media (--md-scr) {
    font-size: var(--fs-text-sm);
  }

  &:hover,
  &:focus,
  &:active,
  &[aria-selected="true"] {
    color: var(--color-black);
    background-color: var(--color-lightest-gray);
  }

  &[data-current] {
    color: var(--dark-purple);
    background-color: var(--color-lightest-gray);
  }

  &:first-child {
    border-top-left-radius: var(--r-sm);
    border-top-right-radius: var(--r-sm);
  }

  &:last-child {
    border-bottom-left-radius: var(--r-sm);
    border-bottom-right-radius: var(--r-sm);
  }
}
