.field,
.fake-field {
  box-sizing: border-box;
  width: 100%;
  margin-left: var(--m-1);
  grid-area: 1 / 1 / 2 / 2;
}

.field {
  z-index: 1;
  padding: var(--m-0-5) var(--m-3) var(--m-0-5) var(--m-0-5);
  font-family: var(--font-monospace);
  font-size: var(--fs-text-md);
  color: var(--color-light-blue);
  border: 1px solid transparent;
  border-radius: var(--r-default);
  cursor: pointer;

  &:focus {
    border-color: var(--color-light-gray);
    outline: none;
  }
}

.fake-field {
  overflow: hidden;
  padding-right: var(--m-3);
  padding-left: var(--m-0-5);
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  opacity: 0;
  white-space: nowrap;
}

.wrapper,
.label {
  position: relative;
  display: inline-grid;
  align-items: baseline;
  margin-right: var(--m-1-5);
}

.label .field,
.label .fake-field {
  grid-area: 1 / 2 / 1 / 3;
}

.icon {
  position: absolute;
  top: 50%;
  right: -3px;
  z-index: 2;
  width: 16px;
  height: 16px;
  color: var(--color-light-blue);
  transform: translateY(-50%);
}
