/* stylelint-disable max-line-length */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */

.aa-Panel {
  z-index: 1000;
  width: 500px !important;

  & .aa-Item + .aa-Item {
    margin-top: 8px;
  }

  & .found-part {
    color: #651fff;
    background-color: #d2dbdf;
  }

  @media (--sm-scr) {
    width: 100% !important;
  }
}

.aa-List {
  position: relative;
}

.aa-Item {
  &:hover,
  &:focus {
    background-color: #eceaf9;
  }
}

.aa-Item:first-child {
  position: sticky;
  top: -9px;
  background-color: var(--color-white);

  &:hover,
  &:focus {
    background-color: #eceaf9;
  }
}
