.wrapper {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  height: auto;
  font-size: var(--fs-text-md);
  font-weight: var(--fw-bold);
  text-decoration: none;
  color: var(--color-darkest);

  &:hover {
    color: var(--color-light-purple);
  }

  @media (--sm-scr) {
    padding: var(--m-1) var(--m-2) var(--m-1) var(--m-0-5);
  }

  @media (--md-scr) {
    padding: var(--m-2) var(--m-6) var(--m-2) var(--m-4);
  }
}

.image {
  position: relative;
  width: 80px;
  height: 40px;
  flex-shrink: 0;
}

.objectFit {
  object-fit: contain;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  line-height: var(--lh-md);
  color: var(--color-white);
  transform: translate3d(-50%, -50%, 0);
  opacity: 0.57;
}

.info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  @media (--sm-scr) {
    margin-left: var(--m-5);
  }

  @media (--md-scr) {
    margin-left: var(--m-2);
  }
}

.title {
  overflow: hidden;
  margin: 0;
  text-overflow: ellipsis;
  font-size: var(--fs-text-md);
  line-height: var(--lh-md);
}

.duration {
  overflow: hidden;
  margin: 0;
  font-size: var(--fs-text-sm);
  font-weight: var(--f-w-regular);
  line-height: var(--lh-sm);
  color: var(--color-gray);
  text-overflow: ellipsis;
}

.button {
  display: flex;
  align-self: center;
  flex-shrink: 0;
  width: 100%;
  max-width: 180px;
  height: 32px;
  padding: 0 var(--m-3);
  text-transform: uppercase;
  white-space: nowrap;

  @media (--sm-scr) {
    display: none;
  }
}
