.wrapper {
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.withSubMenus {
  position: initial;
}

.link {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  align-items: center;
  justify-content: center;
  z-index: 3001;
  white-space: nowrap;
  min-width: 0;
  height: 80px;
  padding: 0 var(--m-2);
  font-size: var(--fs-text-md);
  font-weight: 400;
  color: var(--color-code);
  outline: none;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  transition: background var(--t-interaction);
  margin-bottom: 0;
  float: none;

  &:focus,
  &:hover {
    color: var(--color-dark-purple);
  }

  @media (--sm-scr) {
    background-color: white;
    width: 100%;
    border-radius: var(--r-default);
    color: var(--color-darkest);
    text-align: left;
    border-bottom: 1px solid var(--color-lighter-gray);
    justify-content: left;
    padding-left: var(--m-4);
  }

  &.active {
    color: var(--color-dark-purple);

    @media (--sm-scr) {
      border-bottom: none;
    }

    background-color: #f3f5f6;
  }
}

.dropdown {
  display: none;
  left: 0;
  z-index: 3000;
  margin-left: 0;
  background-color: #f8f7fd;

  @media (--sm-scr) {
    position: relative;
    width: 100%;
  }

  @media (--md-scr) {
    position: absolute;
    min-width: 540px;
    max-width: 100%;
    background-color: transparent;
  }

  &.opened {
    display: block;
  }
}

.withSubCategories {
  @media (--md-scr) {
    position: absolute;
  }
}