.wrapper {
  position: relative;
}

.link {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0 var(--m-2);
  font-size: 15px;
  font-weight: 500;
  color: var(--color-darkest);
  outline: none;
  text-decoration: none;
  cursor: pointer;
  transition: background var(--t-interaction);

  &:focus,
  &:hover {
    color: var(--color-dark-purple);
    background-color: rgba(240 242 244 / 56%);
  }

  @media (--sm-scr) {
    width: 100%;
    margin-bottom: var(--m-1);
    border-radius: var(--r-default);
    font-size: var(--fs-text-lg);
    line-height: 56px;
    color: var(--color-darkest);
    background-color: var(--color-lightest-gray);
    text-align: left;
  }

  &.active {
    background-color: rgba(240 242 244 / 56%);
    color: var(--color-dark-purple);
  }
}

.dropdown {
  display: none;
  left: 0;
  z-index: 3000;
  margin-left: 0;

  @media (--sm-scr) {
    position: relative;
    width: 100%;
  }

  @media (--md-scr) {
    position: absolute;
    min-width: 540px;
  }

  &.opened {
    display: block;
  }
}
