.wrapper {
  display: flex;
  margin-right: 10px;

  @media (--sm-scr) {
    flex-direction: column;
    width: 100%;
  }

  @media (--lg-scr) {
    flex-direction: row;
  }
}

.navItems {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: auto;
  flex-shrink: 1;
  margin-right: 10px;
  min-width: 0;
  @media (--sm-scr) {
    flex-direction: column;
    width: 100%;
    margin-right: 0;
    flex-shrink: 0;
    max-width: none;
  }
}

.signInDropdown {
  display: none;
  z-index: 3000;

  @media (--sm-scr) {
    position: relative;
    width: 100%;
  }

  @media (--md-scr) {
    position: absolute;
    left: 0;
    min-width: 400px;
  }

  &.visible {
    display: block;
  }
}
